# Dockerfile that is intended to be used for development.

services:
  server:
    build:
      context: ./server
      dockerfile: ./Dockerfile
    ports:
      - "3000:3000"
  web:
    build:
      context: ./web
      dockerfile: ./Dockerfile
    ports:
      - "5173:5173"

volumes:
  coursemate_data:
