services:
  coursemate_db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: mysecretpassword
    ports:
      - "5432:5432"
    volumes:
      - coursemate_data:/var/lib/postgresql/data

volumes:
  coursemate_data: