@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-image-preview {
  /* TODO: make it flexible */
  max-width: 450px;
  max-height: 450px;
}

.btn {
  @apply font-normal;
}

.cm-li-btn {
  @apply no-animation h-auto w-full justify-start rounded-none border-none bg-white px-6 py-4 text-left font-normal text-base shadow-none hover:bg-zinc-100 focus:bg-zinc-300;
}

/* Bottom Bar の分の幅 */
.cm-pb-footer {
  padding-bottom: calc(3rem + env(safe-area-inset-bottom));
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
