.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  flex: 1;
}

.table th,
.table td {
  border: 1px solid #000;
  text-align: center;
  padding: 0;
  font-weight: normal;
  height: 3rem;
}

.table th {
  padding: 0;
}

.table th:first-child {
  width: 1.5rem;
}

.table button {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  display: block;
  background-color: transparent;
  font-size: 0.5rem;
}

.table span {
  width: 100%;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem;
}

.enrolled {
  background-color: rgb(255, 208, 42, 0.81) !important;
}
