name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  # mobile はもういないじゃない。
  # build-frontend:
  #   name: Build Frontend
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout Code
  #       uses: actions/checkout@v3

  #     - name: Setup Node.js
  #       uses: actions/setup-node@v3
  #       with:
  #         node-version: latest
  #         cache: npm

  #     - name: Install Node Packages
  #       run: npm ci
  #       working-directory: mobile
  #       shell: bash

  #     - name: Build
  #       run: npm run build
  #       working-directory: mobile
  #       shell: bash

  # mobile:
  #   name: mobile code style checks
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout Code
  #       uses: actions/checkout@v3

  #     - name: Setup Node.js
  #       uses: actions/setup-node@v3
  #       with:
  #         node-version: latest
  #         cache: npm

  #     - name: Install Node Packages
  #       run: npm ci
  #       working-directory: mobile
  #       shell: bash

  #     - name: Run ESLint
  #       run: npm run lint
  #       working-directory: mobile
  #       shell: bash

  # Prettier + ESLint
  style-check:
    name: Code style check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: latest
          cache: npm

      - name: setup
        run: ./setup.sh
        working-directory: server

      - name: "ESLint (TODO: RUN THIS AT PROJ ROOT)"
        run: npx eslint .
        working-directory: server
        shell: bash

      - name: "Prettier (TODO: RUN THIS AT PROJ ROOT)"
        run: npx prettier . --check
        working-directory: server
        shell: bash

  type-check:
    name: Type Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: latest
          cache: npm

      - name: setup
        run: ./setup.sh
        working-directory: .
        shell: bash

      - name: Type Check web
        run: npx tsc --noEmit
        working-directory: web
        shell: bash

      - name: Type Check server
        run: npx tsc --noEmit
        working-directory: web
        shell: bash
