name: CI

on:
  push:
    branches: [main]
  pull_request:

env:
  DATABASE_URL: ${{ secrets.DATABASE_URL_FOR_PRISMA_SQL_GENERATION }}
  NEXT_PUBLIC_FIREBASE_API_KEY: ${{ secrets.NEXT_PUBLIC_FIREBASE_API_KEY }}
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: make setup-ci
      - run: make build

  biome:
    name: Code style check via Biome
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - uses: biomejs/setup-biome@v2
        with:
          version: latest

      - run: make setup
      - run: biome check

  type-check:
    name: Type Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: make setup-ci

      - run: bunx tsc --noEmit
        working-directory: web
      - run: bunx tsc --noEmit
        working-directory: server

  spell-check:
    name: Spell Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - run: make setup-ci
      - run: make spell-check

  test:
    name: Bun Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: make setup-ci
      - run: make test

  deploy-test-web:
    name: Deploy Test (web)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
      - uses: oven-sh/setup-bun@v2
      - run: make prepare-deploy-web
      - run: test `ls web/dist | wc -l` != 0

  deploy-test-server:
    name: Deploy Test (server)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
      - uses: oven-sh/setup-bun@v2
      - run: make prepare-deploy-server
